{{ if not .Site.Params.custom_lightbox }}
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.css" />
    <script async src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.js"></script>
{{ end }}

{{ if not .Site.Params.custom_stylesheets }}
    <link type="text/css" rel="stylesheet" href="/imgur-gallery-plugin.min.css" />
{{ end }}

<script>
    window.imgurGalleryPlugin = {
        api: {
            clientId: "{{ .Site.Params.imgur_client_id }}",
            url: "https://api.imgur.com/3/album/"
        },
        customStylesheet: {{ .Site.Params.custom_stylesheet }},
        customLightbox: {{ .Site.Params.custom_lightbox }}
    };
</script>
<script async src="/imgur-gallery-plugin.min.js"></script>