font-size-base = 16px
screen-mobile = 480px
screen-tablet-min = 768px
screen-desktop-min = 1060px
screen-mobile-max = (screen-tablet-min - 1)
screen-tablet-max = (screen-desktop-min - 1)

bp($point)
  if $point == 'mobile'
    @media screen and (max-width: screen-mobile-max)
      {block}
  else if $point == 'tablet'
    @media (min-width: screen-tablet-min)
      {block}
  else if $point == 'desktop'
    @media (min-width: screen-desktop-min)
      {block}
  else
    @media $point
      {block}

.imgur-gallery {
    width: 100%
    float: left
    margin-top: 25px
    margin-bottom: 35px
    border: 1px dashed #ddd
    border-radius: 5px;

    .loading-message {
        text-align: center
        width: 100%;
        padding: 15px;
    }

    .title-box {
        .title {
            margin: 10px
            font-size: 1.2rem
            text-align: center
            line-height: 1.1

            .count {
                font-size: 80%
                color: #777
            }
        }
    }

    .thumbnail-box {
        width: 100%
        float: left
        position: relative
    }

    .nsfw-message {
        width: 100%
        background-color: #2f4463a1
        color: #fff
        font-size: 1.1rem
        padding: 25px 15px
        float: left
        text-align: center
        line-height: 1.4
        cursor: pointer
        margin-bottom: 0
        border-radius: 8px
        border: 5px #fff solid

        p {
            margin: 0;
        }
    }

    .thumbnail {
        float: left
        padding: 10px
        width: 50%
        transition: opacity;

        &:hover {
            opacity: 0.75
        }

        +bp(tablet) {
            width: 25%
        }

        +bp(desktop) {
            width: 20%
        }

        a {
            display: block

            &:after {
                display: none
            }
        }

        img {
            border-radius: 5px
            margin: 0 auto;
        }
    }
}
