.imgur-gallery {
  width: 100%;
  float: left;
  margin-top: 25px;
  margin-bottom: 35px;
  border: 1px dashed #ddd;
  border-radius: 5px;
}
.imgur-gallery .loading-message {
  text-align: center;
  width: 100%;
  padding: 15px;
}
.imgur-gallery .title-box .title {
  margin: 10px;
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.1;
}
.imgur-gallery .title-box .title .count {
  font-size: 80%;
  color: #777;
}
.imgur-gallery .thumbnail-box {
  width: 100%;
  float: left;
  position: relative;
}
.imgur-gallery .nsfw-message {
  width: 100%;
  background-color: rgba(47,68,99,0.631);
  color: #fff;
  font-size: 1.1rem;
  padding: 25px 15px;
  float: left;
  text-align: center;
  line-height: 1.4;
  cursor: pointer;
  margin-bottom: 0;
  border-radius: 8px;
  border: 5px #fff solid;
}
.imgur-gallery .nsfw-message p {
  margin: 0;
}
.imgur-gallery .thumbnail {
  float: left;
  padding: 10px;
  width: 50%;
  transition: opacity;
}
.imgur-gallery .thumbnail:hover {
  opacity: 0.75;
}
@media (min-width: 768px) {
  .imgur-gallery .thumbnail {
    width: 25%;
  }
}
@media (min-width: 1060px) {
  .imgur-gallery .thumbnail {
    width: 20%;
  }
}
.imgur-gallery .thumbnail a {
  display: block;
}
.imgur-gallery .thumbnail a:after {
  display: none;
}
.imgur-gallery .thumbnail img {
  border-radius: 5px;
  margin: 0 auto;
}
